.filter_button {
	font-size: 1.1rem;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 0.2rem 0.25rem;
	margin: 0 0.3rem;
	cursor: pointer;
	transition: border-color 300ms;
}

.filter_button__active {
	border-color: #333;
}

.filter_button:hover {
	border-color: #333;
}