.app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #333;
}

.app__inner {
	width: 600px;
	background-color: #fff;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 4px 4px 85px 0 rgba(255, 255, 255, 0.2);
}