.card {
	display: flex;
	justify-content: space-between;
	gap: 0.7rem;
	border-bottom: 1px solid #333;
	font-size: 1.25rem;
	padding: 1rem;
}

.card__checkbox>input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.card__checkbox>.card__text {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.card__checkbox>.card__text::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #adb5bd;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.card__checkbox>input:not(:disabled):not(:checked)+.card__text:hover::before {
	border-color: #333;
}

/* стили для активного чекбокса (при нажатии на него) */
.card__checkbox>input:not(:disabled):active+.card__text::before {
	background-color: rgba(51, 51, 51, 0.5);
	border-color: #333;
}

/* стили для чекбокса, находящегося в фокусе */
.card__checkbox>input:focus+.card__text::before {
	box-shadow: 0 0 0 0.2rem rgba(123, 121, 121, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.card__checkbox>input:focus:not(:checked)+.card__text::before {
	border-color: #333;
}

/* стили для чекбокса, находящегося в состоянии checked */
.card__checkbox>input:checked+.card__text::before {
	border-color: #333;
	background-color: #333;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.card__checkbox>input:disabled+.card__text::before {
	background-color: #808080;
}

.card__text {
	word-break: break-word;
}

.card__text_completed {
	text-decoration-line: line-through;
	color: rgba(51, 51, 51, 0.5);
}

.card__button {
	background-color: transparent;
	border: 0;
	font-size: 1.25rem;
	cursor: pointer;
	opacity: 0.3;
	transition: opacity 300ms;
}

.card__button:hover {
	opacity: 1;
}