.header {
}

.header__title {
	text-align: center;
	font-style: italic;
	font-weight: 500;
}

.header__input {
	display: block;
	width: 100%;
	font-size: 1.5rem;
	text-align: center;
	color: #333;
	line-height: 1.5;
	border: none;
	outline: none;
	padding: 1.25rem 4.5rem;
}

.header__input::placeholder {
	opacity: 0.5;
}
